:root {
    --violet: #0c0a3e;
    --purple: #7B1E7A;
    --Orange: #F9564F;
    --Mustard: #F3C677;
    --White: #faebd7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

body {
    font-family: "Lucida Sans", sans-serif;
  }

  /* Set large screen format for header elements */
  
  header {
    display: flex;
    background-color: var(--violet);
    color: var(--White);
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 0;
  }

  h1 {
    background-color: var(--purple);
    padding: 5px 5px 5px 40px;
    text-align: right;
    font-size: 250%;
  }

  nav li {
    display: inline;
    padding: 10px 10px 10px 0;
    font-size: 20px;
    list-style: none;
    margin: 0;
  }

  nav a {
    color: var(--White);
    font-weight:bold;
  }

/* Modify link colour on mouse hover */
  
    nav a:hover {
    color: var(--Orange)
    }

/* Profile picture and subtitle banner */
  
.banner {
    display: flex;
    background:  url(../images/Profile\ thumbnail1.jpg) center left 2%, url(../images/banner-backgound.jpg) top left;
    background-size: 150px, cover;
    background-repeat: no-repeat;
    min-height: 30vh;
    position: relative;
    }

/* Subtitle */

.banner h2 {
    position: absolute;
    top: 50%;
    right: 1%;
    background-color: var(--purple);
    padding: 10px;
    color: var(--White);
}
