:root {
    --violet: #0c0a3e;
    --purple: #7B1E7A;
    --Orange: #F9564F;
    --Mustard: #F3C677;
    --White: #faebd7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

body {
    font-family: "Lucida Sans", sans-serif;
  }

  /* Set large screen format for header elements */
  
  header {
    display: flex;
    background-color: var(--violet);
    color: var(--White);
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 0;
  }

  h1 {
    background-color: var(--purple);
    padding: 5px 5px 5px 40px;
    text-align: right;
    font-size: 250%;
  }
